In [31]:
import pandas as pd
from pandas import Series, DataFrame

# get titanic & test csv files as a pandas DataFrame
iris_df = pd.read_csv("iris.csv")
# print("......Printing the IRIS DataFrame completely.....")
# #print(iris_df)
# #print(".............Printing the Info.....")
#iris_df.info()
# print("........Describing.....")
# #iris_df.describe()
#new = iris_df[['Class',' Petal_Width']].groupby('Class').mean()
#print(new)

iris_df.groupby('Class')[' Petal_Width'].mean()

Class
Iris-setosa        0.244
Iris-versicolor    1.326
Iris-virginica     2.026
Name:  Petal_Width, dtype: float64

In [2]:
df = pd.read_csv('stock.csv')

In [3]:
print(df)

           Date       Open       High        Low      Close  Adj Close  Volume
0    2018-09-26  21.889999  22.129999  21.670000  21.790001  21.453817  170700
1    2018-09-27  21.700001  21.820000  21.520000  21.530001  21.197830   82200
2    2018-09-28  21.520000  21.700001  21.490000  21.549999  21.217520   98900
3    2018-10-01  21.530001  21.889999  21.500000  21.709999  21.375051   91200
4    2018-10-02  21.770000  21.809999  21.440001  21.459999  21.128910   92200
5    2018-10-03  21.600000  21.600000  21.139999  21.170000  20.843384   75000
6    2018-10-04  21.080000  21.090000  20.660000  20.780001  20.459402   85200
7    2018-10-05  20.830000  20.830000  20.420000  20.760000  20.439709   75600
8    2018-10-08  20.750000  20.889999  20.590000  20.809999  20.488939   57100
9    2018-10-09  20.760000  20.950001  20.709999  20.760000  20.439709   45900
10   2018-10-10  20.760000  20.930000  20.580000  20.610001  20.292027   97200
11   2018-10-11  20.570000  20.740000  20.209999  20.260000  19.947426  124300
12   2018-10-12  20.510000  20.520000  20.250000  20.469999  20.154184  140800
13   2018-10-15  20.420000  20.570000  20.030001  20.410000  20.095110   84800
14   2018-10-16  20.490000  20.709999  20.350000  20.670000  20.351099   69400
15   2018-10-17  20.629999  20.790001  20.590000  20.650000  20.331408   85700
16   2018-10-18  20.580000  20.580000  20.070000  20.230000  19.917887   81100
17   2018-10-19  20.190001  20.459999  20.049999  20.049999  19.740664   53400
18   2018-10-22  20.010000  20.110001  19.670000  19.799999  19.494522   65600
19   2018-10-23  19.600000  19.850000  19.200001  19.440001  19.140076  110100
20   2018-10-24  19.370001  19.549999  19.160000  19.160000  18.864393   74800
21   2018-10-25  19.230000  19.510000  19.139999  19.320000  19.021927   90300
22   2018-10-26  19.120001  19.350000  18.900000  19.170000  18.874241  101300
23   2018-10-29  19.290001  19.520000  18.790001  18.889999  18.598558   68200
24   2018-10-30  18.910000  19.120001  18.540001  18.870001  18.578869  254400
25   2018-10-31  19.110001  19.290001  18.889999  19.059999  18.765938  175300
26   2018-11-01  18.780001  18.780001  14.570000  14.970000  14.739039  822500
27   2018-11-02  15.020000  15.420000  14.900000  15.340000  15.103332  305000
28   2018-11-05  15.300000  16.629999  15.300000  15.730000  15.487314  263000
29   2018-11-06  15.750000  16.230000  15.740000  16.120001  15.871296  133600
..          ...        ...        ...        ...        ...        ...     ...
222  2019-08-15  22.260000  22.620001  21.969999  22.000000  22.000000   83900
223  2019-08-16  22.070000  22.639999  22.000000  22.490000  22.490000   81800
224  2019-08-19  22.629999  22.830000  22.540001  22.650000  22.650000   44200
225  2019-08-20  22.540001  22.750000  22.170000  22.200001  22.200001   42200
226  2019-08-21  22.200001  22.219999  21.790001  21.830000  21.830000   43000
227  2019-08-22  21.920000  22.090000  21.469999  21.510000  21.510000   58300
228  2019-08-23  21.400000  21.459999  20.799999  20.990000  20.990000   98200
229  2019-08-26  21.100000  21.639999  21.090000  21.520000  21.520000   73200
230  2019-08-27  21.639999  21.719999  20.910000  20.959999  20.959999   55200
231  2019-08-28  20.860001  21.320000  20.860001  21.129999  21.129999   64500
232  2019-08-29  21.340000  21.459999  21.059999  21.100000  21.100000   36300
233  2019-08-30  21.120001  21.389999  21.010000  21.270000  21.270000  101600
234  2019-09-03  21.200001  21.330000  20.650000  21.129999  21.129999   55300
235  2019-09-04  21.230000  21.270000  20.990000  21.080000  21.080000   34900
236  2019-09-05  21.250000  21.610001  21.000000  21.309999  21.309999   57500
237  2019-09-06  21.400000  21.700001  21.160000  21.190001  21.190001   70000
238  2019-09-09  21.230000  21.620001  21.160000  21.389999  21.389999   50200
239  2019-09-10  21.389999  22.330000  21.250000  21.900000  21.900000  102200
240  2019-09-11  21.969999  22.549999  21.969999  22.540001  22.540001   93000
241  2019-09-12  22.639999  22.850000  22.360001  22.450001  22.450001  131600
242  2019-09-13  22.650000  22.889999  22.480000  22.690001  22.690001   81000
243  2019-09-16  22.660000  22.670000  22.410000  22.500000  22.500000  144800
244  2019-09-17  22.480000  22.809999  22.400000  22.639999  22.639999   72200
245  2019-09-18  22.790001  22.940001  22.389999  22.410000  22.410000  147500
246  2019-09-19  22.400000  22.700001  22.200001  22.219999  22.219999   67700
247  2019-09-20  22.260000  22.320000  21.709999  21.760000  21.760000  170200
248  2019-09-23  21.629999  21.950001  21.590000  21.590000  21.590000   88500
249  2019-09-24  21.670000  21.850000  21.260000  21.280001  21.280001  103300
250  2019-09-25  21.350000  21.750000  21.350000  21.700001  21.700001   85900
251  2019-09-26  21.660000  21.860001  21.430000  21.430000  21.430000    4194

[252 rows x 7 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 7 columns):
Date         252 non-null object
Open         252 non-null float64
High         252 non-null float64
Low          252 non-null float64
Close        252 non-null float64
Adj Close    252 non-null float64
Volume       252 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.9+ KB

In [5]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,19.175119,19.455952,18.928254,19.177579,19.043393,115304.341270
std,1.966380,1.956686,1.972342,1.961038,1.990440,92978.396122
min,14.520000,14.770000,14.500000,14.500000,14.339517,4194.000000
25%,18.415000,18.704999,18.100001,18.454999,18.365839,68950.000000
50%,19.220000,19.474999,19.015000,19.275001,19.118763,90750.000000
75%,20.572500,20.814999,20.342500,20.620001,20.368758,135750.000000
max,22.790001,22.950001,22.540001,22.690001,22.690001,846900.000000

In [6]:
df = df["High"].decribe()

AttributeError: 'Series' object has no attribute 'decribe'

In [ ]:

import pandas as pd
from pandas import Series, DataFrame

# get titanic & test csv files as a pandas DataFrame
iris_df = pd.read_csv("iris.csv")
print("......Printing the IRIS DataFrame completely.....")
print(iris_df)
print(".............Printing the Info.....")
iris_df.info()
print(".............Printing using dataframe functions.....")
print (iris_df[["Class", "Sepal_Length"]].groupby(
    ['Class']).min())

print("The maximum sepal length is",iris_df['Sepal_Length'].max())

In [ ]:
import numpy as np

import pandas as pd

titanic_df = pd.read_csv('train.csv')

# Convert the survived column to strings for easier reading
titanic_df ['Survived'] = titanic_df ['Survived'].map({
    0: 'Died',
    1: 'Survived'
})


print("======Data Headers Before Dropping Columns=======")
print(titanic_df.head(5))

print("**** \n\nDATA TRANSFORMATION *****\n")

print("======Data Headers After Dropping Columns - First Way=======")
titanic_df.drop(['Parch','PassengerId','Name','Ticket'], axis=1, inplace=True)
print(titanic_df.head(5))
print("======Data Headers After Dropping Columns - Second Way =======")
titanic_df = titanic_df.drop(['SibSp','Fare'], axis=1)
print(titanic_df.head(5))
# Convert the Class column to strings for easier reading
titanic_df ['Pclass'] = titanic_df ['Pclass'].map({
    1: 'Luxury Class',
    2: 'Economy Class',
    3: 'Lower Class'
})

print("======Data Headers After Transforming Class Column =======")
print(titanic_df.head(5))

titanic_df["Embarked"] = titanic_df["Embarked"].fillna("S")
print("======Data Headers After Filling with default value for Embarked Column =======")
print(titanic_df.head(5))

# Convert the Embarked column to strings for easier reading
titanic_df ['Embarked'] = titanic_df ['Embarked'].map({
    'C':'Cherbourg',
    'Q':'Queenstown',
    'S':'Southampton'
})
print("======Data Headers After Transforming Embarked Column =======")
print(titanic_df.head(5))

In [9]:
tit = pd.read_csv('titanic.csv')

In [ ]:
print(tit)

In [ ]:
tit.describe()

In [21]:
o = tit[['Survived','Pclass']].groupby(['Pclass'])
print(o)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001FA3F533160>

In [15]:
tit["Age"].max()

80.0

In [16]:
tit['Fare'].max()

512.3292

In [17]:
tit['Age'].mean()

29.593100338218715

In [18]:
tit['Age'].std()

14.117061023266002