In [1]:
'''
******* BLACK FRIDAY ********
a)Load the ‘Black Friday’ dataset into one of the data structures (NumPy or Pandas).
b)Display header rows and description of the loaded dataset.
'''
import pandas as pd
import numpy as np

df = pd.read_csv("BlackFriday.csv")
#df = pd.read_csv("blackfri.csv")
print("<-----Data Information----->")
print("\nHead of Dataset")
print(df.head(5))
print("\nHead of Dataset")
print(df.describe())
print(df.info())

<-----Data Information----->

Head of Dataset
   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10           NaN
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
4                 NaN                 NaN      7969

Head of Dataset
            User_ID    Occupation  Marital_Status  Product_Category_1  \
count  5.375770e+05  537577.00000   537577.000000       537577.000000
mean   1.002992e+06       8.08271        0.408797            5.295546
std    1.714393e+03       6.52412        0.491612            3.750701
min    1.000001e+06       0.00000        0.000000            1.000000
25%    1.001495e+06       2.00000        0.000000            1.000000
50%    1.003031e+06       7.00000        0.000000            5.000000
75%    1.004417e+06      14.00000        1.000000            8.000000
max    1.006040e+06      20.00000        1.000000           18.000000

       Product_Category_2  Product_Category_3       Purchase
count       370591.000000       164278.000000  537577.000000
mean             9.842144           12.669840    9333.859853
std              5.087259            4.124341    4981.022133
min              2.000000            3.000000     185.000000
25%              5.000000            9.000000    5866.000000
50%              9.000000           14.000000    8062.000000
75%             15.000000           16.000000   12073.000000
max             18.000000           18.000000   23961.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537452 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB
None

In [2]:
'''
c) Remove unnecessary features (E.g. drop unwanted columns) from the dataset such as ‘User_ID’, ‘Product_ID ‘ ‘Stay_In_Current_City_Years’ .
'''
df.drop(['User_ID','Product_ID','Stay_In_Current_City_Years'], axis=1, inplace=True)
prin
t(df.head(5))

NameError: name 'prin' is not defined

In [ ]:
'''
d) Manipulate data by replacing empty column values in ‘City_Category’ with a default value for the city. 
'''
print("\nFilling empty values")
df['City_Category'] = df['City_Category'].fillna("A")
print(df.head(5))

In [ ]:
'''
e) Convert the attribute ‘City_Category’ to have ‘A’ to be ‘Metro Cities’, ‘B’ to be ‘Small Towns’ ,  ‘C’ to be ‘Villages’.
'''
print("\nMapping values/attributes in City_Category to types")
df['City_Category'] = df['City_Category'].map({'A':'Metro cities','B':'Small Towns','C':'Villages'})
print(df.head(5))

In [ ]:
'''
f) Rename the attribute ‘Product_Category_1’ to have ‘Baseball Caps’, 
‘Product_Category_2’ to have ‘Wine Tumblers’ and ‘Product_Category_3’ to 
have ‘Pet Raincoats’
'''
print("\nRenaming the column names")
df.rename(columns={'Product_Category_1':'Baseball_Caps','Product_Category_2':'Wine_Tumblers','Product_Category_3':'Pet_Raincoats'},inplace=True)
print(df.head(5))

In [ ]:
'''
g) Convert the attribute ‘Marital_Status’ to have ‘1:Married’ and ‘0:Un-Married’
'''
print("\nMapping values/attributes in Marital Status to types")
df['Marital_Status'] = df['Marital_Status'].map({1:'Married',0:'Un-Married'})
print(df.head(5))

In [3]:
'''
h) Perform the following visualizations on the loaded dataset:
i)   Tally of the Number of Male & Female who bought ‘Product_Category_3(Pet_Raincoats)’. 
'''
import matplotlib.pyplot as plt
import seaborn as sns
print("<-------Data Visualisation------->")
#print(pd.crosstab(df.Gender,df.Baseball_Caps))
print(pd.crosstab(df.Gender,df.Pet_Raincoats))


ax = sns.countplot(data=df,x='Gender',hue='Pet_Raincoats',palette='Set2')
ax.set(title='Male and Female who bought Pet_Raincoats',xlabel='Gender',ylabel='Count')
plt.show()

<-------Data Visualisation------->

AttributeError: 'DataFrame' object has no attribute 'Pet_Raincoats'

In [ ]:
'''
h) Perform the following visualizations on the loaded dataset:
ii)  Total Number of Male & Female persons belonging to each city category
'''
ax = sns.countplot(data=df,x='City_Category',hue='Gender',palette='Set1')
ax.set(title='Male and Female belonging to each city',xlabel='Gender',ylabel='Count')
plt.show()